@media only screen and (max-width: 640px) {
    .main_container {
        padding: 20px 4px !important;
    }
  }

.main_container{
    
    padding: 20px 24px;
    
}

h3{
    margin: auto;
}

input{
    width: 80%;
}