@media only screen and (max-width: 640px) {
    .main_container {
        padding: 20px 4px !important;
    }
  }

.main_container{
    
    padding: 20px 24px;
    
}

.answerform{
    
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    form{
        width: 80%;
        input{
            width: 100%;
            margin: auto;
        }}
}