
<div class="global_container">
    <div class="main_container">
        <a *ngIf="topic && gameName" [routerLink]="['/F/', gameName]">{{ gameName }} > {{ topic.title }}</a>
        <app-topic *ngIf="topic"
        [topicTitle]="topic.title"
        [topicContent]="topic.content"
        [topicCreation]="topic.createdAt"
        [topicAuthor]="topic.User.username"
        [status]="'answers'"></app-topic>

        <div class="answerform" style="display: flex; justify-content: center; width: 100%;">
            <form [formGroup]="answerForm" (ngSubmit)="OnSubmit()">
                <input type="text" formControlName="content" style="margin-bottom: 10px;">
                <div style="display: flex; justify-content: center;">
                    <button class="btn btn-primary" type="submit" [disabled]="!checkAuth() || answerForm.invalid">Poster la réponse</button>
                </div>
                
            </form>
        </div>
        <ul>
            <app-answer *ngFor="let answer of answers;"
            [answerContent]="answer.content"
            [answerCreation]="answer.createdAt"
            [answerAuthor]="answer.User.username"></app-answer>
        </ul>
    </div>
</div>
