<header>
  <div class="logo" routerLink="">
    <div id="logo">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="15" width="32" height="2" fill="#FFAB40"/>
        <rect x="24" y="23" width="8" height="2" fill="#FFAB40"/>
        <rect x="15" y="30" width="17" height="2" fill="#FFAB40"/>
        <rect x="15" y="32" width="32" height="2" transform="rotate(-90 15 32)" fill="#FFAB40"/>
        <rect x="30" y="32" width="8" height="2" transform="rotate(-90 30 32)" fill="#FFAB40"/>
        <path d="M15 0V3L3 15H0L15 0Z" fill="#FFAB40"/>
        </svg>
    </div> 
    <h3 id="fullname">ForGames</h3>
  </div>

  <div class="search_bar" (focusout)="OffFocus()">
    <form [formGroup]="gameForm" (ngSubmit)="OnSubmit()" (input)="OnChange($event)" >
      <input type="text" placeholder="rechercher un jeu" (focus)="OnFocus()" formControlName="name">
    </form>

    <div  class="results" *ngIf="focus">
      <div *ngFor="let result of results">
        <a [routerLink]="['F', result.name]" (click)="onSelect(result.name)">{{ displayResult(result) }}</a>
      </div>
    </div>
  </div>
  
  <!-- <select name="" id="" (change)="onSelect($any($event.target).value)" style="display: block;">
    <option [value]="">Selectionner un jeu</option>
    <option  [routerLink]="['F',game.name]" *ngFor="let game of games" [value]="game.name">{{ game.name }}</option>
  </select> -->

  <div class="account">
    <a *ngIf="!authCheck()" routerLink="/login">Se Connecter</a>
    <div *ngIf="authCheck()">
      <select style="display: none;">
        <option routerLink="/profile"><a *ngIf="authCheck()" routerLink="/profile"><i class="material-icons">account_circle</i></a></option>
        <option><span class="material-icons md-18" style="font-family: 'Material Icons';">face</span></option>
        <option><button>
          <i class="material-icons">account_circle</i>
        </button></option>

        <option value="account_box">account_box </option>
      </select>

      <a routerLink="/profile"><span class="material-icons">account_circle</span></a>
      <a routerLink="" (click)="logout()"><span class="material-icons">logout</span></a>
      
    </div>
    
  </div>
  
    
</header>